
*{
  font-family: "Roboto", sans-serif;
  /* border: 1px solid red; */
}


.header{
    width: 100%;
    height: 100px;
    box-shadow: 0px 1px 50px 0px rgba(181, 181, 181, 0.25);
    background: rgba(255, 255, 255, 1);
}

.header_main{
    top: 2%;
    left: 15%;
    position: absolute;
    background-color: white;
    width: 1440px;
    height: 60px;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;;
}


.header_left img{
    width: 50px;
    height: 50px;
}

.text{
    width: 135.72px;
    height: 44.69px;
}

.text h1{
    font-size: 18px;
    text-transform: capitalize;
    text-wrap: wrap;
    font-weight: bold;
    color: rgba(0, 103, 71, 1);
}


.header_right{
    width: 460px;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 123px;
    height: 40px;
    border-radius: 50px;
    background: rgba(65, 255, 107, 0.1);
}

.heart h1{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.heart img{
    width: 30px;
    height: 30px;
}


.coin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 123px;
    height: 40px;
    border-radius: 50px;
    background: rgba(65, 255, 107, 0.1);
}


.coin img{
    width: 30px;
    height: 30px;
}

.coin h1{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}


.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 123px;
    height: 40px;
    border-radius: 50px;
    background: rgba(0, 166, 62, 1);
}


.copy h1{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.copy span{
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
}


/* responsive with regular css */

@media (min-width: 0px) and (max-width: 430px) {

    body{
        width: 100%;
    }

    .header_main{
        width: 100%;
        height: 60px;
        left: 0;
        top: 0;
        padding: 0 10px;
    }

    .header_left{
        width: auto;
        gap: 10px;
    }

    .header_right{
        width: auto;
        gap: 10px;
    }

    .heart, .coin{
        width: auto;
        padding: 0 15px;
        margin-right: 15px;
        height: auto;
    }

    .coin h1{
        font-size: 13px;
    }

    .coin img{
        width: 13px;
        height: 13px;
    }

    .heart img{
        width: 13px;
        height: 13px;
    }

    .heart h1{
        font-size: 13px;
    }

    .copy{
        display: none;
    }

    .banner{
        width: auto;
        height: 200px;
        text-align: center;
        text-wrap: wrap;
    }


    .banner img{
        width: 40px;
        height: 40px;
    }

    .banner h1{
        font-size: 20px;
    }

    .banner p{
        font-size: 12px;
        width: 100%;
    }

    .history{
        display: none;
    }

    .number_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

